/**
 * ===============
 * 
 * Wxml工具函数
 * 
 * ===============
 */

/**
 * 截取日期时间中的日期部分
 */
var cutOutDate = function (dateStr) {
  if (!dateStr) {
    return;
  }
  return dateStr.split(' ')[0];
}

/**
 * 对头像图片url的处理
 */
var handleAvatarUrl = function (url) {
  if (url.indexOf('https') >= 0) {
    return url;
  } else {
    return '/assets/images/login_default.svg';
  }
}

module.exports = {
  cutOutDate: cutOutDate,
  handleAvatarUrl: handleAvatarUrl
}